@import '../../stylesheets/variables-theme.scss';

.navbar {
    height: $global-xxlarge-font-size * 1.9;
    background-color: ivory;
    box-shadow: 0px 4px 6px gray;

    h1 {
        position: relative;
        top: $global-xxlarge-font-size * 0.1;
    }
}