@import '../../stylesheets/variables-theme.scss';

.event {
    overflow: scroll;
    max-height: 0px;

    section {
        margin: 2em;
    }
}

.card {
    //&.uk-card-body {
        background-color: rebeccapurple;
        color: white;
        border: 1ex solid rebeccapurple;

        h2, h3 {
            color: goldenrod;
        }
    //}

}

.background {
    @media only screen and (min-width:960px) {
        background-image: url(../mountain_portrait.jpg);
        // filtser:none;
    }
    background-image: url(../mobile_background.jpg);
    // filter: url(blur.svg#blur);
}

.msgbar {
    background-color: khaki;
    color: darken($color: khaki, $amount: 0.7 * lightness(khaki));
    font-size: smaller;
    padding: 0.7em 2em;

    span[aria-role='header'] {
        font-weight: bold;
    }
}

.fancytext {
    width: 100%;
}

.player {
    height: 720px;
    width: 1280px;
    background-color: black;
}